%lighttheme {
    color: #000;
    background-color: #fff;
}
%darktheme {
    color: #fff;
    background-color: #000;
}
@mixin getTheme($themes) {
}
body {
    // preset
    -moz-user-select: none !important;
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
    // Styles
    font-family: "JetBrains Mono", monospace;
    font-style: normal;
    position: relative;
}
section {
    margin: 10px 0;
}

.main {
    margin-top: 20px;
}
%center {
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.hightlight {
    display: inline-block;
    height: 24px;
    padding: 2px 6px;
    border-radius: 4px;

    color: #ccc;
    background-color: #000;
    &:hover {
        color: #000;
        background-color: #ccc;
        transition: ease-in-out 0.5s;
    }
}
.underline {
    text-decoration: underline;
}
.item {
    border-radius: 10px;
    background-color: orange;
    padding: 14px;
}
.center {
    @extend %center;
}
.mt-32 {
    margin-top: 32px;
}
.mb-32 {
    margin-bottom: 32px;
}
.mb-18 {
    margin-bottom: 18px;
}
.avatar {
    height: 128px;
    width: 128px;
}
