.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-top: 24px;

    text-align: center;
    justify-content: center;
    align-content: center;

    font-style: italic;
    font-weight: 600;
    color: #ccc;
    background-color: #000;

    height: 32px;
}
