@use "./common";

.header-title {
    padding: 12px;
    font-weight: bold;
    border-radius: 6px;
    &:hover {
        color: #fff;
        background-color: #000;
        margin-left: 24px;
        transition: ease-in-out 0.2s;
        transition-timing-function: linear;
        transition-duration: 0.7s;
        transition-delay: 0.025s;
    }
}

.banner {
    margin-bottom: 18px;
}
